.vbox-overlay { 
    z-index: 9999!important; 
}

/* taking care of the video aspect-ratio */
figure {
  position: relative;
  padding: 0 0 56.25% 0;
}

figure iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}